<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Twitter Clone 🐦</title>
    </head>
    <body>
    <a href="/">Home</a> <a href="notifications/">Notifications</a>  <a href="/altmyprofile/">MyProfile</a> <a href="/newtweet/">Tweet!</a>  <a href="logout/">Logout</a>
    <h1>Feed</h1>
    <ul>
    {% for post in my_tweets %}
    
        <li>
        <a href="/{{ post.author }}/">@{{ post.author }}</a> - <a href="alttweet/{{post.id}}/">{{ post.time }}</a>
        </li>
    <pre>
    <b>{{ post.description }}</b>
    </pre>
    
    {% endfor %}
    <h1>Your Posts</h1>
    {% for post in user_tweets %}
    
        <li>
        <a href="/{{ post.author }}/">@{{ post.author }}</a> - <a href="/tweet/{{post.id}}/">{{ post.time }}</a>
        </li>
    <pre>
    <b>{{ post.description }}</b>
    </pre>
    
    {% endfor %}
</ul>
</body>
</html>